version: v1.3.0

# Edit platform value. Possible values: eks, aks, gke
platform: eks

# Required if platform=eks
eksMetadataAccess: true

# Required if platform=eks and eksMetadataAccess=false
eksClusterArn: ""

# Replace with your registry hostname and image version before apply
image: registry.example.com/breeze-agent:redacted

# Edit resource limits
resources:
    requests:
        memory: "64Mi"
        cpu: "250m"
    limits:
        memory: "128Mi"
        cpu: "500m"

serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Specifies annotations for this service account
    annotations: {}
    # The name of the service account to use.
    name: ""
