apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Values.version | default .Chart.AppVersion}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
        app.kubernetes.io/version: {{ .Values.version | default .Chart.AppVersion}}
    spec:
      serviceAccountName: {{ template "breeze-agent.serviceAccount" . }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      volumes:
      - name: dev-tun
        hostPath:
          path: /dev/net/tun
          type: CharDevice
      - name: entrypoint
        configMap:
          name: breeze-entrypoint
          defaultMode: 0755
      {{- if .Values.tls.fromSecrets }}
      - name: tls-cert
        secret:
          secretName: {{ .Values.tls.cert.secretName }}
          items:
          - key: {{ .Values.tls.cert.key }}
            path: breeze-agent.crt
      - name: tls-key
        secret:
          secretName: {{ .Values.tls.key.secretName }}
          items:
          - key: {{ .Values.tls.key.key }}
            path: breeze-agent.key
      {{- end }}
      {{- if eq .Values.platform "eks" }}
      {{- if .Values.eksMetadataAccess }}
      - name: breeze-data
        emptyDir: {}
      - name: init
        configMap:
          name: get-node-tags-py
          defaultMode: 0755
      initContainers:
      - name: {{ .Release.Name }}-init
        image: python:3.10.10-alpine3.17
        imagePullPolicy: IfNotPresent
        command: ["/bin/sh"]
        args: ["-c", "pip install --no-cache-dir boto3 && python3 /scripts/get_node_tags.py"]
        volumeMounts:
        - name: breeze-data
          mountPath: /breeze-data
        - name: init
          mountPath: /scripts
      {{- else }}
      - name: breeze-config
        configMap:
          name: breeze-config
      {{- end }}
      {{- end }}
      containers:
      - name: {{ .Release.Name }}
        image: {{ .Values.image }}
        args: ["/scripts/entrypoint.sh"]
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            memory: {{ .Values.resources.requests.memory }}
            cpu: {{ .Values.resources.requests.cpu }}
          limits:
            memory: {{ .Values.resources.limits.memory }}
            cpu: {{ .Values.resources.limits.cpu }}
        volumeMounts:
        - name: dev-tun
          mountPath: /dev/net/tun
        - name: entrypoint
          mountPath: /scripts
        {{- if .Values.tls.fromSecrets }}
        - name: tls-cert
          mountPath: /opt/breeze-agent/etc/ssl/breeze-agent.crt
          subPath: breeze-agent.crt
          readOnly: true
        - name: tls-key
          mountPath: /opt/breeze-agent/etc/ssl/breeze-agent.key
          subPath: breeze-agent.key
          readOnly: true
        {{- end }}
        {{- if eq .Values.platform "eks" }}
        {{- if .Values.eksMetadataAccess }}
        - name: breeze-data
          mountPath: /breeze-data
        {{- else }}
        - name: breeze-config
          mountPath: /opt/breeze-agent/etc/tags
          subPath: breeze-tags
        {{- end }}
        {{- end }}
        env:
          - name: BREEZE_RUNTIME
            value: kubernetes
          - name: BREEZE_K8S_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: BREEZE_K8S_TUNHUB_CLIENT
            value: enabled
        securityContext:
          {{- if not (eq .Values.platform "aks") }}
          runAsNonRoot: true
          runAsUser: 10000
          runAsGroup: 10000
          {{- end }}
          privileged: false
          capabilities:
            add: [
              "NET_ADMIN",
              "NET_RAW"
            ]
        readinessProbe:
          exec:
            command:
            - grep
            - zcat
            - "/proc/net/dev"
          initialDelaySeconds: 900
          periodSeconds: 60
          failureThreshold: 60
